<h4>List of books</h4>

<div class="container">
    <div class="row">
        <div *ngFor="let book of books" class="col-sm-4">
            <div class="card" style="width: 100%; margin: 10px;">
                <div class="card-body"> 
                    <h5 class="card-title">{{book.name}}</h5>
                    <p class="card-text">by {{book.authors}}</p>
                    <a routerLink="/book/{{book.id}}" class="btn btn-primary">more infos</a>
                </div>
            </div>
        </div>
    </div>
</div>